body { 
    margin: 0;
    background-color: black;

}
canvas{
    background-color: black;
    width: 100%;
    height: 100%;
    margin: auto;
    align-self: auto;
    display: block;

}
#scoreboard {
    text-align: center ;
}
#score {
    font-size:600%;
    padding:0;
    margin:0;
    color: #10A19D;
}
#controls{
    color: #C147E9;
}
#wins{
    color: #FFBF00;
}





/* Scoreboard container */
.scoreboard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-image: url(cyberpunk-light.png);
    background-size:cover;
    background-repeat:no-repeat;
    filter: brightness(1.2) contrast(1.2) saturate(1.2);
    color: #00d3d3;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 2px #000000;
   
    background: linear-gradient(to top, #303030, #000000);
  }
  
  /* Left and right score containers */
  .score-left, .score-right {
    width: 25%; /* 45%*/
    text-align: center;
  }
  
  /* Team names */
  .team-name {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #f00d0d;
    margin-top: 800px;
   
  }
  
  /* Team scores */
  .team-score {
    font-size: 4em;
    font-weight: bold;
    text-shadow: 1px 1px 2px  #f00d0d;
  }
  
  /* Add a glow effect to the scoreboard container */
  .scoreboard-container {
    box-shadow: 0 0 20px #ffffff;
  }
  
  /* Add a pulse animation to the glow effect */
  @keyframes pulse {
    0% { box-shadow: 0 0 20px #fa296d; }
    50% { box-shadow: 0 0 40px #00d3d3; }
    100% { box-shadow: 0 0 20px #ffffff; }
  }
  .scoreboard-container {
    animation: pulse 2s infinite;
  }

  .info{
    font-weight: bold;
    text-shadow: 1px 1px 2px  #f00d0d;
  }
  

